{{ title }}

<div class="content">
  <span>angularNeuf app is running!</span>

  <div class="formulaire">
    <form action=""></form>
  </div>

  <div *ngFor="let item of villes">
    <app-meteo [ville]=item></app-meteo>
  </div>


  <app-meteo (alertcanicule)="infoFromChild($event)"></app-meteo>


</div>
